<div class="row">
  <div span="4">
    <div class="col-sm-12">
      <p class="textContainer" *ngIf="source != 'wordpress'"><img src="assets/twitter.png" width="35" *ngIf="source == 'twitter'"/><img src="assets/termin.jpg" width="100" *ngIf="source == 'Google calendar'"/> {{text}}</p>
      <p class="textContainer" [innerHTML]="text" *ngIf="source == 'wordpress'"></p>

      <p class="whereandwhen" *ngIf="start !== undefined">Wann?</p>
      <p class="whereandwhencontent" *ngIf="start !== undefined">{{start | date:'EEE, dd. MMM yyyy H:mm'}} bis {{end | date:'H:mm'}}</p>

      <p class="whereandwhen" *ngIf="location !== undefined">Wo?</p>
      <p class="whereandwhencontent" [innerHTML]="location"></p>

      <div *ngIf="imageURLs !== undefined && imageURLs.length > 0">
        <ul class="list-unstyled">
          <li *ngFor="let imageSrc of imageURLs">
            <img src="{{imageSrc}}" class="img-rounded">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <span class="dateStamp">{{created | date:'EEE, dd. MMM yyyy H:mm'}}</span>
  </div>
  <div>
    <span class="source">This post came from: {{source}}</span>
  </div>
</div>

