<div class="row">
  <div class="col-sm-12">
  <p class="textContainer" [innerHTML]="text"></p>
  <div>
    <img src="{{imageSource}}">
  </div>
    <div *ngIf="imageURLs !== undefined && imageURLs.length > 0">
      <ul class="list-unstyled">
        <li *ngFor="let imageSrc of imageURLs">
          <img src="{{imageSrc}}" class="img-rounded">
        </li>
      </ul>
    </div>
  <div>
    <span class="dateStamp">{{created}}</span>
  </div>
    <div>
      <span>This post came from: {{source}}</span>
    </div>
  </div>
</div>
