.textContainer {
  font-size: xx-large;
  color: white;
  margin: 30px;
}

.whereandwhen {
  font-size: x-large;
  color: darkred;
  margin: 30px;
  margin-left: 150px;
}

.whereandwhencontent {
  font-size: x-large;
  color: white;
  margin: 30px;
  margin-left: 150px;
}

.dateStamp {
  color: darkred;
  margin: 30px;
}

.source {
  color: white;
  margin: 30px;
}

li {
  margin: 30px;
}

img {
  max-height: 500px;
}
